  <a class="menu-bar" data-toggle="collapse" href="#menu">
            			<div style="display: inline-block;position: relative;padding: 11px 0px;">	<span class="bars"></span>         
       					</a><span style="">goglej</span> </div> 
       					<div class="collapse menu" id="menu">
				            <ul class="list-inline">
				                <li><a href="#">Home</a></li>
				                <li><a href="#">About</a></li>
				                <li><a href="#">Services</a></li>
				                <li><a href="#">Works</a></li>
				                <li><a href="#">Contact</a></li>
				            </ul>   
				    	</di






				    	  <div class="collapse navbar-collapse" id="mc-horizontal-menu-collapse">
			                <ul class="nav navbar-nav">
			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">TV &amp; Audio <img src="assets/images/arrows.svg" height="20px"></a>
			                        <ul class="dropdown-menu">
			                            <li>
											<div class="yamm-content">
											    <div class="row">
											       <div class="col-xs-12 col-sm-4">
											            <h2>Laptops &amp; Notebooks</h2>
											            <ul>
											                <li><a href="#">Power Supplies Power</a></li>
											                <li><a href="#">Power Supply Testers Sound </a></li>
											                <li><a href="#">Sound Cards (Internal)</a></li>
											                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
											                <li><a href="#">Other</a></li>
											            </ul>
											        </div><!-- /.col -->

											        <div class="col-xs-12 col-sm-4">
											            <h2>Computers &amp; Laptops</h2>
											            <ul>
											                <li><a href="#">Computer Cases &amp; Accessories</a></li>
											                <li><a href="#">CPUs, Processors</a></li>
											                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
											                <li><a href="#">Graphics, Video Cards</a></li>
											                <li><a href="#">Interface, Add-On Cards</a></li>
											                <li><a href="#">Laptop Replacement Parts</a></li>
											                <li><a href="#">Memory (RAM)</a></li>
											                <li><a href="#">Motherboards</a></li>
											                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
											                <li><a href="#">Motherboard Components &amp; Accs</a></li>
											            </ul>
											        </div><!-- /.col -->

											        <div class="col-xs-12 col-sm-4">
											            <h2>Dekstop Parts</h2>
											            <ul>
											                <li><a href="#">Power Supplies Power</a></li>
											                <li><a href="#">Power Supply Testers Sound</a></li>
											                <li><a href="#">Sound Cards (Internal)</a></li>
											                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
											                <li><a href="#">Other</a></li>
											            </ul>
											        </div><!-- /.col -->
											    </div><!-- /.row -->
											</div><!-- /.yamm-content -->
										</li>
			                        </ul>
			                    </li>

			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">RTV<img src="assets/images/arrows.svg" height="20px"></a>
			                        <ul class="dropdown-menu">
			                            <li>
											<div class="yamm-content">
											    <div class="row">
											       <div class="col-xs-12 col-sm-4">
											            <h2>Laptops &amp; Notebooks</h2>
											            <ul>
											                <li><a href="#">Power Supplies Power</a></li>
											                <li><a href="#">Power Supply Testers Sound </a></li>
											                <li><a href="#">Sound Cards (Internal)</a></li>
											                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
											                <li><a href="#">Other</a></li>
											            </ul>
											        </div><!-- /.col -->

											        <div class="col-xs-12 col-sm-4">
											            <h2>Computers &amp; Laptops</h2>
											            <ul>
											                <li><a href="#">Computer Cases &amp; Accessories</a></li>
											                <li><a href="#">CPUs, Processors</a></li>
											                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
											                <li><a href="#">Graphics, Video Cards</a></li>
											                <li><a href="#">Interface, Add-On Cards</a></li>
											                <li><a href="#">Laptop Replacement Parts</a></li>
											                <li><a href="#">Memory (RAM)</a></li>
											                <li><a href="#">Motherboards</a></li>
											                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
											                <li><a href="#">Motherboard Components &amp; Accs</a></li>
											            </ul>
											        </div><!-- /.col -->

											        <div class="col-xs-12 col-sm-4">
											            <h2>Dekstop Parts</h2>
											            <ul>
											                <li><a href="#">Power Supplies Power</a></li>
											                <li><a href="#">Power Supply Testers Sound</a></li>
											                <li><a href="#">Sound Cards (Internal)</a></li>
											                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
											                <li><a href="#">Other</a></li>
											            </ul>
											        </div><!-- /.col -->
											    </div><!-- /.row -->
											</div><!-- /.yamm-content -->
										</li>
			                        </ul>
			                    </li>

			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Computers<img src="assets/images/arrows.svg" height="20px"></a>
			                        <ul class="dropdown-menu">
			                            <li><a href="#">Computer Cases &amp; Accessories</a></li>
			                            <li><a href="#">CPUs, Processors</a></li>
			                            <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
			                            <li><a href="#">Graphics, Video Cards</a></li>
			                            <li><a href="#">Interface, Add-On Cards</a></li>
			                            <li><a href="#">Laptop Replacement Parts</a></li>
			                            <li><a href="#">Memory (RAM)</a></li>
			                            <li><a href="#">Motherboards</a></li>
			                            <li><a href="#">Motherboard &amp; CPU Combos</a></li>
			                        </ul>
			                    </li>

			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Games &amp; Consoles<img src="assets/images/arrows.svg" height="20px"></a>
			                        <ul class="dropdown-menu">
			                            <li>
											<div class="yamm-content">
											    <div class="row">
											       <div class="col-xs-12 col-sm-4">
											            <h2>Laptops &amp; Notebooks</h2>
											            <ul>
											                <li><a href="#">Power Supplies Power</a></li>
											                <li><a href="#">Power Supply Testers Sound </a></li>
											                <li><a href="#">Sound Cards (Internal)</a></li>
											                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
											                <li><a href="#">Other</a></li>
											            </ul>
											        </div><!-- /.col -->

											        <div class="col-xs-12 col-sm-4">
											            <h2>Computers &amp; Laptops</h2>
											            <ul>
											                <li><a href="#">Computer Cases &amp; Accessories</a></li>
											                <li><a href="#">CPUs, Processors</a></li>
											                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
											                <li><a href="#">Graphics, Video Cards</a></li>
											                <li><a href="#">Interface, Add-On Cards</a></li>
											                <li><a href="#">Laptop Replacement Parts</a></li>
											                <li><a href="#">Memory (RAM)</a></li>
											                <li><a href="#">Motherboards</a></li>
											                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
											                <li><a href="#">Motherboard Components &amp; Accs</a></li>
											            </ul>
											        </div><!-- /.col -->

											        <div class="col-xs-12 col-sm-4">
											            <h2>Dekstop Parts</h2>
											            <ul>
											                <li><a href="#">Power Supplies Power</a></li>
											                <li><a href="#">Power Supply Testers Sound</a></li>
											                <li><a href="#">Sound Cards (Internal)</a></li>
											                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
											                <li><a href="#">Other</a></li>
											            </ul>
											        </div><!-- /.col -->
											    </div><!-- /.row -->
											</div><!-- /.yamm-content -->
										</li>
			                        </ul>
			                    </li>

			                    <li class="dropdown yamm-fw">
			                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Gadgets<img src="assets/images/arrows.svg" height="20px"></a>
			                        <ul class="dropdown-menu">
			                            <li>
			                                <div class="yamm-content">
			                                    <div class="row">
			                                       <div class="col-xs-12 col-sm-3">
			                                            <h2>Laptops &amp; Notebooks</h2>
			                                            <ul>
			                                                <li><a href="#">Power Supplies Power</a></li>
			                                                <li><a href="#">Power Supply Testers Sound </a></li>
			                                                <li><a href="#">Sound Cards (Internal)</a></li>
			                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
			                                                <li><a href="#">Other</a></li>
			                                            </ul>
			                                        </div><!-- /.col -->

			                                        <div class="col-xs-12 col-sm-3">
			                                            <h2>Computers &amp; Laptops</h2>
			                                            <ul>
			                                                <li><a href="#">Computer Cases &amp; Accessories</a></li>
			                                                <li><a href="#">CPUs, Processors</a></li>
			                                                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
			                                                <li><a href="#">Graphics, Video Cards</a></li>
			                                                <li><a href="#">Interface, Add-On Cards</a></li>
			                                                <li><a href="#">Laptop Replacement Parts</a></li>
			                                                <li><a href="#">Memory (RAM)</a></li>
			                                                <li><a href="#">Motherboards</a></li>
			                                                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
			                                                <li><a href="#">Motherboard Components &amp; Accs</a></li>
			                                            </ul>
			                                        </div><!-- /.col -->

			                                        <div class="col-xs-12 col-sm-3">
			                                            <h2>Desktop Parts</h2>
			                                            <ul>
			                                                <li><a href="#">Power Supplies Power</a></li>
			                                                <li><a href="#">Power Supply Testers Sound</a></li>
			                                                <li><a href="#">Sound Cards (Internal)</a></li>
			                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
			                                                <li><a href="#">Other</a></li>
			                                            </ul>
			                                        </div><!-- /.col -->

			                                        <div class="col-xs-12 col-sm-3">
			                                            <h2>Laptops &amp; Notebooks</h2>
			                                            <ul>
			                                                <li><a href="#">Power Supplies Power</a></li>
			                                                <li><a href="#">Power Supply Testers Sound </a></li>
			                                                <li><a href="#">Sound Cards (Internal)</a></li>
			                                                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
			                                                <li><a href="#">Other</a></li>
			                                            </ul>
			                                        </div><!-- /.col -->
			                                    </div><!-- /.row -->
			                                </div><!-- /.yamm-content -->
			                            </li>
			                        </ul>
			                    </li><!-- /.yamm-fw -->

			                    <li class="dropdown">
			                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Phones &amp; Tablets<img src="assets/images/arrows.svg" height="20px"></a>
			                        <ul class="dropdown-menu">
			                            <li><a href="#">Motherboard Components &amp; Accs</a></li>
			                            <li><a href="#">Power Supplies Power</a></li>
			                            <li><a href="#">Power Supply TestersSound </a></li>
			                            <li><a href="#">Sound Cards (Internal)</a></li>
			                            <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
			                            <li><a href="#">Other</a></li>
			                        </ul>
			                    </li>

			                    <li class="dropdown navbar-right hidden-md">
			                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Accessories</a>
			                        <ul class="dropdown-menu">
			                            <li>
											<div class="yamm-content">
											    <div class="row">
											       <div class="col-xs-12 col-sm-4">
											            <h2>Laptops &amp; Notebooks</h2>
											            <ul>
											                <li><a href="#">Power Supplies Power</a></li>
											                <li><a href="#">Power Supply Testers Sound </a></li>
											                <li><a href="#">Sound Cards (Internal)</a></li>
											                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
											                <li><a href="#">Other</a></li>
											            </ul>
											        </div><!-- /.col -->

											        <div class="col-xs-12 col-sm-4">
											            <h2>Computers &amp; Laptops</h2>
											            <ul>
											                <li><a href="#">Computer Cases &amp; Accessories</a></li>
											                <li><a href="#">CPUs, Processors</a></li>
											                <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
											                <li><a href="#">Graphics, Video Cards</a></li>
											                <li><a href="#">Interface, Add-On Cards</a></li>
											                <li><a href="#">Laptop Replacement Parts</a></li>
											                <li><a href="#">Memory (RAM)</a></li>
											                <li><a href="#">Motherboards</a></li>
											                <li><a href="#">Motherboard &amp; CPU Combos</a></li>
											                <li><a href="#">Motherboard Components &amp; Accs</a></li>
											            </ul>
											        </div><!-- /.col -->

											        <div class="col-xs-12 col-sm-4">
											            <h2>Dekstop Parts</h2>
											            <ul>
											                <li><a href="#">Power Supplies Power</a></li>
											                <li><a href="#">Power Supply Testers Sound</a></li>
											                <li><a href="#">Sound Cards (Internal)</a></li>
											                <li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
											                <li><a href="#">Other</a></li>
											            </ul>
											        </div><!-- /.col -->
											    </div><!-- /.row -->
											</div><!-- /.yamm-content -->
										</li>
			                        </ul>
			                    </li>
			                </ul><!-- /.navbar-nav -->
			            </div><!-- /.navbar-collapse -->