.modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
             -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
    }

    .modal-content,
    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }
    
    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

 
/*Right*/
    .modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
           -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
             -o-transition: opacity 0.3s linear, right 0.3s ease-out;
                transition: opacity 0.3s linear, right 0.3s ease-out;
    }
    
    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

/* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .category-nav {
    width: 300px;
    float: left;
    position: relative;
}

.category-nav .yamm.megamenu-horizontal {
    position: absolute;
    top: 100%;
    background: #feecec;
    visibility: hidden;
    width: 90%;
    z-index: 99999;
}
.category-nav:hover .yamm.megamenu-horizontal {
    visibility: visible;
}

.head {
    height: 50px;
    font-size: 20px;
    margin: 0 auto;
    padding: 5px;
}

.my-account {
    padding: 8px;
    border-radius: 0px !important;
    border: 2px solid rgba(129,129,129, 0.2);
    background: #ffffff;
}
.logout {
    border: none;
    text-align: center;
    padding-left: 20px;
}

.top-banner{
    width: 100%;
    position: relative;
    z-index: 0;
}

img.ribbon {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    border: 0;
    cursor: pointer; }