@media only screen and (min-width:992px) and (max-width:1200px){

}
@media only screen and (min-width:768px) and (max-width:991px){
	.headphone-button {
		margin-bottom: 30px;
	}
	.responsive .owl-prev {
	    left: 2%;
	}
}
@media only screen and (max-width:767px){
	.cat-head{
	    float: none;
	}
	.cat-tab .nav-tabs > li > a {
		padding: 10px;
	}
	.multi-item .owl-prev {
	    top: -13%;
	}
	.multi-item  .owl-next {
	    top: -13%;
	}
	.headphone-button {
		margin-bottom: 30px;
	}
	.headphone-title-text h1{
	    font-size: 28px;
	}
	.responsive .owl-prev {
		left: -2%;
	}
	.product-area .cart-button{
	    left: 36%;
	}
	.product-area:hover .cart-button{
	    bottom: 25%;
	}
}
@media only screen and (min-width:480px) and (max-width:767px){
	.multi-item .owl-prev {
	    top: -19%;
	}
	.multi-item  .owl-next {
	    top: -19%;
	}
	.product-area:hover .cart-button{
	    bottom: 18%;
	}
}
