@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
*{
    margin:0;
    padding: 0;
}
a{
    text-decoration:none;
}
a:hover,
a:focus{
    text-decoration: none;
}
li{
    list-style: none;
}
h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}
p{
    font-size: 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #4a4646;
    font-size: 14px;
    line-height: 1.8;
    text-transform: capitalize;
}

/* P-categories section */
.p-categories{
    padding-top: 50px;
    padding-bottom: 50px;
}
.cat-head{
    float: left;
    margin-right: 20px;
    position: relative;
}
.cat-head::after {
    content: '';
    height: 3px;
    width: 280px;
    background: #C62E3A;
    position: absolute;
}
.cat-head h3{
    margin-top: 4px;
    font-weight: 700;
    text-transform: uppercase;
}
.cat-tab .nav-tabs{
    border-bottom: 3px solid #ccc;
}
.cat-tab .nav-tabs > li > a {
    border:none;
    font-weight: 700;
    color: #7e7e7e;
    text-transform: uppercase;
}
.cat-tab .nav-tabs > li > a:hover{
    background-color: transparent;
    color: #C62E3A;
}
.cat-tab .nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
    color: pointer;
    background-color: transparent;
    border:none;
    color: #fff;
}
.p-cat-product{
    margin-top: 20px;
}
.multi-item .owl-prev {
    top: -18%;
    position: absolute;
    right: 40px;
}
.multi-item  .owl-next {
    top: -18%;
    position: absolute;
    right: 0;
}
.new-product{
    position: absolute;
    top: 10%;
    left: 10%;
    height: 50px;
    width: 50px;
    background: #438E44;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}
.new-product span{
    color: #fff;
    font-weight: 600;
}
/* P-categories section */

/* Offer area section */
.offer-area{
    background: url(../img/headphone-bg.jpg)no-repeat center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
.headphone-title-text{
    text-align: center;
    overflow: hidden;
}
.headphone-title-text h5{
    text-transform: uppercase;
    color: #C62E3A;
    font-weight: 700;
}
.headphone-title-text h4{
    text-transform: uppercase;
    color: #C62E3A;
    font-weight: 600;
}
.headphone-title-text h2{
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
}
.offer-timer{
    text-align: center;
    overflow: hidden;
}
.offer-time-counter .offer-time-countdown {
    text-align: center;
}
.offer-time-countdown .counter-column{
    display: inline-block;
    width: 10%;
    margin-bottom:20px;
    margin-right: 20px;
}
.offer-time-countdown .counter-column .inner{
    text-transform: uppercase;
    color: #7c7b7b;
    padding-top: 0px;
    padding-bottom: 0px;
}
.offer-time-countdown .counter-column .count{
    display: block;
    font-size: 28px;
    color: #333;
    font-weight: 700;
    letter-spacing:1px;
}
.headphone-button{
    text-align: center;
    margin-top: 20px;
}
.headphone-button .head-btn{
    padding: 12px 20px;
    background: #C62E3A;
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.headphone-button .head-op{
    background: #fff!important;
    color: #333!important;
}
.product-single{
    position: relative;
}
.responsive .owl-prev {
    top: 40%;
    position: absolute;
    left: -5%;
}
.responsive .owl-next {
    top: 40%;
    position: absolute;
    right: 0;
}
.owl-prev i, .owl-next i{
    font-size: 32px;
}
.product-area{
    position: relative;
}
.product-area img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.product-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: #C62E3A;
}
.product-area:hover .product-overlay{
    opacity: .9;
    transition: .5s;
    top: 82%;
    cursor: pointer;
}
.product-area .cart-button{
    position: absolute;
    bottom: -50%;
    left: 32%;
    text-align: center;
    transition: 0.5s;
}
.product-area .cart-button a{
    font-size: 14px;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 600;
}
.product-area:hover .cart-button{
    bottom: 20%;
}
.product-details{
    margin-top: 10px;
}
.product-details h4, .product-details h5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-details h4{
    color: #a4a1a1;
    font-weight: 400;
}
.product-details h5{
    color: #C62E3A;
    font-weight: 600;
}
.product-details h5 span{
    color: #a4a1a1;
    font-weight: 400;
    margin-right: 5px;
    text-decoration: line-through;
}
.discount{
    position: absolute;
    top: 10%;
    left: 10%;
    height: 50px;
    width: 50px;
    background: #C62E3A;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    z-index: 9999;
}
.discount span{
    color: #fff;
    font-weight: 600;
}
/* Offer area section */